<section class="about" id="about">
  <div class="about-container container">
    <div class="about-header">
      <h2>About Us</h2>
    </div>
    <div class="about-description">
      <p class="about-text">The store "Vyshyvanka Vibes" is a place where traditional Ukrainian vyshyvanka comes
        to
        life with new zest and
        style.
        Our store offers a wide selection of high-quality and authentic embroidery, which combines the elegance
        of
        traditional
        needlework and modern design.</p>
    </div>
    <div class="about-description">
      <p class="about-text">In "Vyshyvanka Vibes" you will find various models of embroidery, from classic to
        modern, corresponding to the
        latest
        fashion trends. Our embroidery is made using natural fabrics and is embroidered by highly qualified
        craftsmen
        who convey
        the beauty of Ukrainian culture in every detail.We believe that vyshyvanka is not just clothing, but a
        symbol of
        national pride, the heritage of our ancestors and a way of expressing one's individuality. Each
        embroidery
        from
        "Vyshyvanka Vibes" has its own unique history and symbolism, which gives it a special meaning.</p>
    </div>
    <div class="about-img">
      <img class="about-img-item" src="./img/about/Vyshyvanka@1x.jpg" alt="Vyshyvanka" width="594" height="545">
    </div>
    <div class="about-ornament">
    </div>
  </div>
</section>