<section class="collection" id="collection">
	<div class="collection-container container">
		<h2 class="collection-title">Our collection</h2>
		<ul class="collection-list">
			<li class="collection-item">
				<img class="collection-item-img" srcset="
                        ./img/collection/poltava.jpg 335w,
                        ./img/collection/poltava@2x.jpg 670w,
                        ./img/collection/poltava-tablet.jpg 342w,
                        ./img/collection/poltava-tablet@2x.jpg 684w,
                        ./img/collection/poltava-desctop.jpg 348w,
                        ./img/collection/poltava-desctop@2x.jpg 695w"
					sizes="(min-width: 1280px) 348px, (min-width: 768px) 342px, (max-width: 767px) 335px"
					src="./img/collection/poltava.jpg" alt="august poltava women's blousering" width="335" height="430">
				<div class="collection-item-box">
					<h3 class="collection-item-title">august poltava women's blousering</h3>
					<p class="collection-item-price">3300 uah</p>
				</div>
			</li>
			<li class="collection-item">
				<img class="collection-item-img" srcset="
                        ./img/collection/gorgany-mobile.jpg 335w, 
                        ./img/collection/gorgany@2x.jpg 670w,
                        ./img/collection/gorgany-tablet.jpg 342w,
                        ./img/collection/gorgany-tablet@2x.jpg 684w,
                        ./img/collection/gorgany-desctop.jpg 348w,
                        ./img/collection/gorgany-desctop@2x.jpg 695w"
					sizes="(min-width: 1280px) 348px, (min-width: 768px) 342px, (max-width: 767px) 335px"
					src="./img/collection/gorgany-mobile.jpg" alt="women's blouse gorgany" width="335" height="430">
				<div class="collection-item-box">
					<h3 class="collection-item-title">women's blouse gorgany</h3>
					<p class="collection-item-price">3350 uah</p>
				</div>
			</li>
			<li class="collection-item">
				<img class="collection-item-img" srcset="
                        ./img/collection/mountain.jpg 335w, 
                        ./img/collection/mountain@2x.jpg 670w,
                        ./img/collection/mountain-tablet.jpg 342w,
                        ./img/collection/mountain-tablet@2x.jpg 684w,
                        ./img/collection/mountain-desctop.jpg 348w,
                        ./img/collection/mountain-desctop@2x.jpg 695w"
					sizes="(min-width: 1280px) 348px, (min-width: 768px) 342px, (max-width: 767px) 335px"
					src="./img/collection/mountain.jpg" alt="mountain men's shirt" width="335" height="430">
				<div class="collection-item-box">
					<h3 class="collection-item-title">mountain men's shirt</h3>
					<p class="collection-item-price">3300 uah</p>
				</div>
			</li>
			<li class="collection-item">
				<img class="collection-item-img" srcset="
                        ./img/collection/yasen.jpg 335w, 
                        ./img/collection/yasen@2x.jpg 670w,
                        ./img/collection/yasen-tablet.jpg 342w,
                        ./img/collection/yasen-tablet@2x.jpg 684w,
                        ./img/collection/yasen-desctop.jpg 348w,
                        ./img/collection/yasen-desctop@2x.jpg 695w"
					sizes="(min-width: 1280px) 348px, (min-width: 768px) 342px, (max-width: 767px) 335px"
					src="./img/collection/yasen.jpg" alt="men's shirt yasen" width="335" height="430">
				<div class="collection-item-box">
					<h3 class="collection-item-title">men's shirt yasen</h3>
					<p class="collection-item-price">1700 uah</p>
				</div>
			</li>
			<li class="collection-item">
				<img class="collection-item-img" srcset="
                        ./img/collection/crimea.jpg 335w, 
                        ./img/collection/crimea@2x.jpg 670w,
                        ./img/collection/crimea-tablet.jpg 342w,
                        ./img/collection/crimea-tablet@2x.jpg 684w,
                        ./img/collection/crimea-desctop.jpg 348w,
                        ./img/collection/crimea-desctop@2x.jpg 695w"
					sizes="(min-width: 1280px) 348px, (min-width: 768px) 342px, (max-width: 767px) 335px"
					src="./img/collection/crimea.jpg" alt="women's blouse crimea" width="335" height="430">
				<div class="collection-item-box">
					<h3 class="collection-item-title">women's blouse crimea</h3>
					<p class="collection-item-price">4000 uah</p>
				</div>
			</li>
			<li class="collection-item">
				<img class="collection-item-img" srcset="
                        ./img/collection/verhovina.jpg 335w, 
                        ./img/collection/verhovina@2x.jpg 670w,
                        ./img/collection/verhovina-tablet.jpg 342w,
                        ./img/collection/verhovina-tablet@2x.jpg 684w,
                        ./img/collection/verhovina-desctop.jpg 348w,
                        ./img/collection/verhovina-desctop@2x.jpg 695w"
					sizes="(min-width: 1280px) 348px, (min-width: 768px) 342px, (max-width: 767px) 335px"
					src="./img/collection/verhovina.jpg" alt="men's shirt verkhovina" width="335" height="430">
				<div class="collection-item-box">
					<h3 class="collection-item-title">men's shirt verkhovina</h3>
					<p class="collection-item-price">3100 uah</p>
				</div>
			</li>
		</ul>
	</div>
</section>