<footer class="footer">
  <section class="footer-section section">
    <div class="footer-container container">
      <ul class="footer-navigation">
        <li class="footer-navigation-li">
          <a href="#about" class="footer-link">About us</a>
        </li>
        <li class="footer-navigation-li">
          <a href="#collection" class="footer-link">Our collection </a>
        </li>
        <li class="footer-navigation-li">
          <a href="#order" class="footer-link">Customer order</a>
        </li>
        <li class="footer-navigation-li">
          <a href="#testimonials" class="footer-link">Testimonials</a>
        </li>
      </ul>
      <h2 class="footer-slogan">
        A touch of <span class="footer-ukrainian">Ukrainian</span> culture in
        every embroidery
      </h2>
    </div>
  </section>
</footer>
