<section class="hero">
  <div class="hero-container">
    <h1 class="hero-header">
      Reviving the traditional Ukrainian artistry in every stitch.
    </h1>
    <button class="hero-btn-order" type="button">
      Order
      <svg class="hero-arrow" width="26" height="10">
        <use href="./img/header/icons.svg#icon-arrow"></use>
      </svg>
    </button>
    <img
      class="hero-img"
      srcset="/src/img/hero/girl@2x.jpg 2x"
      src="./img/hero/girl.jpg"
      alt="Satisfied client with our production"
      width="392"
      height="545"
    />
  </div>
  <div class="hero-embroidery">
    <svg class="hero-star" width="52" height="51">
      <use href="/img/header/icons.svg#icon-hero-star"></use>
    </svg>
    <p class="hero-made-by-hand">all embroidery is made by hand</p>
  </div>
</section>
