<section class="hero">
  <div class="hero-container container">
    <div class="hero-main-header-and-btn">
      <h1 class="hero-header">
        Reviving the traditional
        <span class="hero-ukrainian">Ukrainian </span> artistry in every stitch.
      </h1>
      <a class="hero-btn-order" href="#order">
        Order
        <svg class="hero-arrow" width="26" height="21">
          <use href="./img/header/icons.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="hero-img-girl">
      <img class="hero-picture" srcset="
          ./img/hero/girl-desktop.jpg    392w,
          ./img/hero/girl-desktop@2x.jpg 784w,
          ./img/hero/girl-tablet.jpg     413w,
          ./img/hero/girl-tablet@2x.jpg  826w,
          ./img/hero/girl-mobile.jpg     335w,
          ./img/hero/girl-mobile@2x.jpg  670w
        " sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (max-width: 767px) 335px"
        src="./img/hero/girl-mobile.jpg" width="335" height="545" alt="Satisfied client with our production" />
      <div class="hero-made-by-hand-img">
        <img class="hero-made-by-hand-picture" srcset="./img/hero/group-mobile@2x.png" src="./img/hero/group-mobile.png"
          alt="Our Ukraine" width="139" height="197" />
      </div>
    </div>
    <div class="hero-embroidery">
      <svg class="hero-star" width="52" height="51">
        <use href="./img/header/icons.svg#icon-hero-star"></use>
      </svg>
      <p class="hero-made-by-hand">all embroidery is made by hand</p>
    </div>
  </div>
</section>