<div class="modal-container menu-modal">
  <div class="modal-upper-part">
    <div class="modal-phone-container">
      <a class="modal-phone" href="tel:+380684439426">+380 (68) 443-94-26</a>
    </div>
    <div class="modal-close-container">
      <button class="modal-close-button" type="button">
        <svg
          class="modal-close"
          width="36"
          height="36"
          aria-label="modal close icon"
        >
          <use href="./img/header/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="modal-navigation-container">
    <ul class="modal-navigation-list">
      <li class="modal-navigation-item">
        <a class="modal-navigation-link" href="#about">About us</a>
      </li>
      <li class="modal-navigation-item">
        <a class="modal-navigation-link" href="#collection">Our collection</a>
      </li>
      <li class="modal-navigation-item">
        <a class="modal-navigation-link" href="#order">Customer order</a>
      </li>
      <li class="modal-navigation-item">
        <a class="modal-navigation-link" href="#testimonials">Testimonials</a>
      </li>
    </ul>
  </div>
</div>
