<section class="testimonials testimonials-section section">
  <!-- <section class="testimonials-section section"> -->
  <div class="testimonials-container container">
    <h2 class="testimonials-title">Testimonials</h2>
    <ul class="testimonials-list list">
      <li class="testimonials-list-items">
        <img
          class="testimonials-img"
          srcset="
            ../img/testimonials/testimonials-maria-tkachuk.png    1x,
            ../img/testimonials/testimonials-maria-tkachuk@2x.png 2x
          "
          src="../img/testimonials/testimonials-maria-tkachuk.png"
          alt="avatat maria tkachuk"
          width="64"
        />
        <div class="testimonials-items-container">
          <p class="testimonials-name">Maria Tkachuk</p>
          <p class="testimonials-text">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </div>
      </li>
      <li class="testimonials-list-items">
        <img
          class="testimonials-img"
          srcset="
            ../img/testimonials/testimonials-sergey-rybachok.png    1x,
            ../img/testimonials/testimonials-sergey-rybachok@2x.png 2x
          "
          src="../img/testimonials/testimonials-sergey-rybachok.png"
          alt="avatar sergey-rybachok"
        />
        <div class="testimonials-items-container">
          <p class="testimonials-name">Sergey Rybachok</p>
          <p class="testimonials-text">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
            simply masterpieces! I fell in love with the quality of the
            materials and the skill of the artisans behind each product. This is
            my favorite embroidery shop where I always find something special
            and unique.
          </p>
        </div>
      </li>
      <li class="testimonials-list-items">
        <img
          class="testimonials-img"
          srcset="
            ../img/testimonials/testimonials-natalia-chatuk.png    1x,
            ../img/testimonials/testimonials-natalia-chatuk@2x.png 2x
          "
          src="../img/testimonials/testimonials-natalia-chatuk.png"
          alt="avatar natalia-chatuk"
        />
        <div class="testimonials-items-container">
          <p class="testimonials-name">Natalia Chatuk</p>
          <p class="testimonials-text">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
