@media screen and (max-width: 767px) {
  .about-container {
    background-image: url(../img/about/ornament-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .about-header {
    font-family: 'Manrope';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: 0.03em;
    padding-bottom: 40px;
  }

  .header-only-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
  }

  .about-img-item {
    border-radius: 4px;
    width: 100%;
    padding-bottom: 64px;
  }

  .about {
    padding-bottom: 36px;
  }

  .about-description-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}


@media screen and (min-width: 768px) {
  .about-container {
    background-image: url(../img/about/ornament-tablet@1x.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .about-header {
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: 0.03em;
    padding-bottom: 40px;
  }

  .header-only-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
  }

  .about {
    padding-bottom: 50px;
  }

  .about-img-item {
    border-radius: 4px;
    width: 100%;
    padding-bottom: 50px;
  }

  .about-description-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}


@media screen and (min-width: 1280px) {
  .about-container {
    background-image: url(../img/about/ornament-desctop@1x.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    display: flex;
    gap: 50px;
    padding-bottom: 80px;
  }

  .header-only-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .about-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.04em;
  }

  .about-header {
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: 0.03em;
    padding-bottom: 40px;
  }

  .about-description-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .about {
    padding-bottom: 70px;
  }

  .about-img-item {
    border-radius: 4px;
    width: 100%;
    padding-bottom: 0px;
    width: 594px;
    height: 545px;
  }
}