@media screen and (max-width: 767px) {
  .about-ornament {
    background-image: url(../img/about/ornament-mobile@1x.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 408px;
    position: absolute;
    z-index: -10;
    left: 106px;
    top: 155px;
  }

  .about-img-ornamet {
    position: relative;
  }

  .about-header {
    font-family: 'Manrope';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: 0.03em;
    padding-bottom: 40px;
  }

  .header-only-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
  }

  .about-img-item {
    border-radius: 4px;
    width: 335px;
    height: 499px;
  }

  .about-description-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}


@media screen and (min-width: 768px) {
  .about-ornament {
    background-image: url(../img/about/ornament-tablet@1x.png);
    background-repeat: no-repeat;
    width: 369px;
    height: 484px;
    position: absolute;
    z-index: -10;
    left: 368px;
    top: 110px;
  }

  .about-img-ornamet {
    position: relative;
  }

  .about-header {
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: 0.03em;
    padding-bottom: 40px;
  }

  .header-only-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
  }

  .about-img-item {
    border-radius: 4px;
    width: 704px;
    height: 545px;
  }

  .about-description-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}


@media screen and (min-width: 1280px) {
  .about-ornament {
    background-image: url(../img/about/ornament-desctop@1x.png);
    background-repeat: no-repeat;
    width: 385px;
    height: 484px;
    position: absolute;
    z-index: -10;
    left: 309px;
    top: 140px;
  }

  .about-img-ornamet {
    position: relative;
  }

  .about-container {
    position: relative;
    display: flex;
    gap: 50px;
  }

  .header-only-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }

  .about-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.04em;
  }

  .about-header {
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.45;
    letter-spacing: 0.03em;
    padding-bottom: 40px;
  }

  .about-description-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .about-img-item {
    border-radius: 4px;
    width: 594px;
    height: 545px;
  }
}