.footer {
  .footer-section {
    border-top: 1px solid rgba(252, 249, 249, 0.1);
  }

  @media (max-width: 768px) {
    .footer-section {
      padding-bottom: 0;
    }

    .footer-container {
      height: 600px;
      background-image: url(/img/footer/ornament_mob.png);
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: bottom;
      background-size: 100%;
      padding-top: 40px;
    }

    @media (max-width: 768px) and (min-resolution: 192dpi),
      (min-resolution: 2dppx),
      (min-device-pixel-ratio: 2) {
      .footer-container {
        background-image: url(/img/footer/ornament_mob@2x.png);
        background-size: 100%;
      }
    }
  }

  @media (min-width: 768px) {
    .footer-container {
      background-image: url(/img/footer/ornament_tab.png);
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: center;
      background-size: 24%;
    }

    @media (min-width: 768px) and (min-resolution: 192dpi),
      (min-resolution: 2dppx),
      (min-device-pixel-ratio: 2) {
      .footer-container {
        background-image: url(/img/footer/ornament_tab@2x.png);
        background-repeat: no-repeat;
        background-size: 24%;
      }
    }
  }

  @media (min-width: 1280px) {
    .footer-container {
      background-image: url(/img/footer/ornament_desk.png);
      background-repeat: no-repeat;
      background-position-x: right;
      background-position-y: center;
      background-size: 26%;
    }

    @media (min-resolution: 192dpi),
      (min-resolution: 2dppx),
      (min-device-pixel-ratio: 2) {
      .footer-container {
        background-image: url(/img/footer/ornament_desk@2x.png);
        background-size: 26%;
      }
    }
  }
}

.footer-slogan {
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.22em;
  letter-spacing: -1.32px;
  width: 335px;
}

@media (max-width: 375px) {
  .footer-slogan {
    width: 95%;
  }
}

.footer-ukrainian {
  color: var(--yellow-color);
}

.footer-navigation {
  column-count: 2;
  padding-bottom: 15px;
  display: block;
}

.footer-navigation-li {
  padding-bottom: 25px;
}

.footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28em;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: #ecd979;
}

@media (min-width: 768px) {
  .footer-section {
    padding: 0;
    background: image();
  }

  .footer-container {
    display: flex;
    max-width: 768px;
    flex-direction: column;
    padding-top: 40px;
  }

  .footer-navigation-li {
    padding-bottom: 0px;
  }

  .footer-navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0 25px;
    padding-bottom: 0;
  }

  .footer-navigation-li {
    font-size: 14px;
    line-height: 18px;
  }

  .footer-slogan {
    width: 521px;
    margin: 0;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: -1.62px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1280px) {
  .footer-container {
    display: flex;
    max-width: 1280px;
  }

  .footer-slogan {
    font-size: 64px;
    line-height: 74px;
    letter-spacing: -1.92px;
    width: 754px;
    margin-top: 117px;
  }

  .footer-link:hover,
  .footer-link:focus {
    color: var(--yellow, #ecd979);
  }

  .footer-link {
  }
}
