@media screen and (max-width: 767px) {
  .modal-container {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99999999;
    background-color: var(--yellow, #ecd979);
    transform: translateX(100%);
    transition: transform 250ms ease-out;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(../img/header/modal-logo.svg);
    background-position: bottom;
    background-size: 30%;
    background-repeat: repeat-x;
  }

  .menu-modal-open {
    transform: translateX(0%);
  }

  .modal-upper-part {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .modal-phone-container {
    padding: 12px 20px;
    border-radius: 15px;
    border: 1px solid rgba(28, 34, 37, 0.1);
  }

  .modal-phone {
    color: #1c2225;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    text-transform: uppercase;
  }

  .modal-close-button {
    background-color: transparent;
    border: none;
    stroke: #1c2225;
  }

  .modal-navigation-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }

  .modal-navigation-link {
    color: #1c2225;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    text-transform: uppercase;
  }

  .modal-navigation-container {
    margin-top: 150px;
  }
}

@media screen and (min-width: 768px) {
  .modal-container {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 99999999;
    background-color: var(--yellow, #ecd979);
    transform: translateX(100%);
    transition: transform 250ms ease-out;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(../img/header/tablet-logo.svg);
    background-position: bottom;
    background-size: 15%;
    background-repeat: repeat-x;
  }

  .menu-modal-open {
    transform: translateX(0%);
  }

  .modal-upper-part {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .modal-phone-container {
    padding: 12px 20px;
    border-radius: 15px;
    border: 1px solid rgba(28, 34, 37, 0.1);
  }

  .modal-phone {
    color: #1c2225;
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    text-transform: uppercase;
  }

  .modal-close-button {
    background-color: transparent;
    border: none;
    stroke: #1c2225;
  }

  .modal-navigation-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }

  .modal-navigation-link {
    color: #1c2225;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    text-transform: uppercase;
  }

  .modal-navigation-container {
    margin-top: 150px;
  }
}