/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./collection.css');
@import url('./order.css');
@import url('./testimonials.css');
@import url('./footer.css');
@import url('./modal.css');

:root {
  font-family: 'Manrope', 'DM Sans', sans-serif;

  --dark-color: #1c2225;
  --yellow-color: #ecd979;
  --white-color: #fcf9f9;
  --placeholder-color: rgba(252, 249, 249, 0.5);
  --p-color: rgba(252, 249, 249, 0.4);
}

body {
  background-color: var(--dark-color);
}

h1,
h2,
h3,
h4,
a {
  color: var(--white-color);
}

p {
  color: var(--p-color);
}

.container {
  margin: 0 auto;
}

section {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  header {
    padding-bottom: 60px;
  }

  section {
    padding-bottom: 80px;
    max-width: 375px;
  }

  .container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding-bottom: 106px;
  }

  section {
    padding-bottom: 100px;
    width: 768px;
  }

  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  header {
    padding-bottom: 100px;
  }

  section {
    padding-bottom: 150px;
    width: 1280px;
  }

  .container {
    padding-left: 100px;
    padding-right: 100px;
    width: 1280px;
  }
}